*~
/\#!*
/projectile.cache
/recentf
/ac-comphist.dat
/var/
/url/
/transient/
/tramp
/.cask/
/.python-environments/
/.trello/
/srecode-map.el
/thumbs/
/speed-type/
/smex-items
/semanticdb/
/request/
/projectile-bookmarks.eld
/image-dired/
/magithub/
/games/
/quelpa/
/eshell/
/deepin-emacs/
/elpa/
/forge-database.sqlite
/host.el
/\#*\#
/.emacs.desktop
/configuration.el
/.cache/
.keep
/host-post-init.el
/host-pre-init.el
.w-firstboot-initialized
