[submodule "sunrise-commander"]
	path = sunrise-commander
	url = git@github.com:sunrise-commander/sunrise-commander.git
[submodule "abl-mode"]
	path = abl-mode
	url = git@github.com:winny-/abl-mode.git
[submodule "org-static-blog"]
	path = org-static-blog
	url = git@github.com:winny-/org-static-blog
[submodule "emacs-dashboard"]
	path = emacs-dashboard
	url = git@github.com:emacs-dashboard/emacs-dashboard.git
